@media only screen and (max-width: 450px) {
    .__content {
        width: 100%;
        background-color: #f3f3f3;
        /* display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center; */
        /* padding: 25px; */
        overflow-y: auto;
        height: 100vh
    }
    .__contenttext {
        text-align: justify;
        height: 50vh;
        overflow-y: auto;
    }
}

@media only screen and (min-width: 451px) {
    .__content {
        width: 100%;
        background-color: #f3f3f3;
        /* display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center; */
        /* padding: 50px; */
        overflow-y: auto;
        height: 100vh
    }
    .__contenttext {
        text-align: justify;
        height: 30vh;
        overflow-y: auto;
    }
}