@media only screen and (max-width: 450px) {
    .__navbar {
        background-color: #e9e9e9;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.__home {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.__navbar {
    min-width: 250px;
    width: 17vw;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.__nlogocontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    text-overflow: clip;
}

.__nlogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    transition: all 1s;
    border-radius: 0 0 0 0;
}

.__nlogo:hover {
    transition: all 1s;
    background-color: coral;
    color: white;
    border-radius: 0 0 25px 0;
}

.__nlogo:hover p {
    /* color: white;
    text-align: center; */
    transition: all 1s;
}

.__nlogoimg {
    width: 100%;
    height: 40vh;
    clip-path: polygon(100% 0, 100% 85%, 25% 100%, 0 95%, 0 0);
}

.__nlinkcontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.__nlinkcontainer>hr {
    width: inherit;
    color: coral;
    margin: 0px;
}

.__nlink {
    font-weight: 300;
    width: inherit;
    display: block;
    transition: all 1s;
    padding: 0 20px;
    cursor: pointer;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0 100%, 0 0);
}

.__nlink:hover {
    background-color: rgb(255, 160, 126);
    clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0 100%, 0 0);
    padding: 0 25px;
    transition: all 1s;
}

.__nlink:active {
    background-color: coral;
    font-weight: 600;
    /* border-right: solid 7px brown; */
    padding: 0 15px;
    transition: all 1s;
}

.__nlinkitem {
    padding: 15px
}

.__nsocialcontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.__nsocial {
    margin: 0 15px
}

.__content {
    width: 100%;
    background-color: #f3f3f3;
}