@media only screen and (max-width: 450px) {
  .__navbar {
    min-width: 50px;
    height: 100vh;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;
  }
  .__nlinkcontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .__nlinkcontainer > hr {
    width: inherit;
    color: coral;
    margin: 0px;
  }
  .__nlink {
    font-weight: 300;
    width: inherit;
    display: block;
    transition: all 1s;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }
  .__nlink:hover {
    color: inherit;
    background-color: rgb(255, 160, 126);
    transition: all 1s;
  }
  .__nlink_active {
    background-color: coral;
    font-weight: 600;
    /* border-right: solid 7px brown; */
    width: inherit;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: all 1s;
  }
  .__nlinkitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    padding: 10px 0px;
    text-overflow: clip;
  }
  .__nlinkitem i {
    font-size: 16px;
  }
  .__nsocialcontainer {
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .__nsocial {
    margin: 0 15px;
    text-decoration: none;
    /* font-size: 12px; */
    color: gray;
    transition: all 1s;
    cursor: pointer;
  }
}

@media only screen and (min-width: 451px) {
  .__navbar {
    min-width: 250px;
    width: 17vw;
    overflow-y: auto;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .__nlogocontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
  }
  .__nlogo {
    display: block;
    width: inherit;
    text-align: left;
    transition: all 1s;
    border-radius: 0 0 0 0;
  }
  .__nlogo:hover {
    transition: all 1s;
    background-color: coral;
    color: white;
    border-radius: 0 0 25px 0;
  }
  .__nlogo:hover p {
    /* color: white;
    text-align: center; */
    transition: all 1s;
  }
  .__nlogoimg {
    width: 100%;
    height: 40vh;
    min-height: 300px;
    min-width: 250px;
    clip-path: polygon(100% 0, 100% 85%, 25% 100%, 0 95%, 0 0);
  }
  .__nlinkcontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .__nlinkcontainer > hr {
    width: inherit;
    color: coral;
    margin: 0px;
  }
  .__nlink {
    font-weight: 300;
    width: inherit;
    display: block;
    transition: all 1s;
    padding: 0 20px;
    cursor: pointer;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0 100%, 0 0);
    text-decoration: none;
    color: inherit;
  }
  .__nlink:hover {
    color: inherit;
    background-color: rgb(255, 160, 126);
    clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0 100%, 0 0);
    padding: 0 25px;
    transition: all 1s;
  }
  .__nlink_active {
    background-color: coral;
    font-weight: 600;
    width: inherit;
    display: block;
    padding: 0 15px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: all 1s;
  }
  .__nlink_active:hover {
    text-decoration: none;
    color: white;
    transition: all 1s;
  }
  .__nlinkitem {
    padding: 15px;
  }
  .__nlinkitem i {
    padding-right: 10px;
  }
  .__nsocialcontainer {
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .__nsocial {
    margin: 0 15px;
    text-decoration: none;
    /* font-size: 12px; */
    color: gray;
    transition: all 1s;
    cursor: pointer;
  }
  .__nsocial:hover i {
    font-size: 18px;
    transition: all 1s;
  }
  .__nsocial:hover {
    color: coral;
    transition: all 1s;
  }
}
